# basic commands
eval "`dircolors -b`"
alias ls='ls --color=auto --hide="*.pyc" --hide="__pycache__"'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

# new commands
alias quickweb='python -m SimpleHTTPServer'
alias rmpyc='find -name "*.pyc" -delete'
alias rmpycache='find -name "__pycache__" -delete'
alias mkvenv3='mkvirtualenv -p `which python3`'

# short names
alias py='ipython`python -c "import sys; print(\"3\" if sys.version_info[0] == 3 else \"\")"` --no-banner --no-confirm-exit -i'
alias ack='ack-grep'
alias open='gnome-open'
alias :e='vim'

# command replacements
alias tree='tree -A -I "*.pyc|*~"'
alias tmux='tmux -2'

# git stuff
alias g='git'
alias gc='git commit'
alias gp='git pull'
alias gs='git status'
alias gy='git pull && git push'

# s3cmd aliases
alias s3sunlight='s3cmd -c ~/.s3cmd/sunlight'
alias s3personal='s3cmd -c ~/.s3cmd/personal'
