unamestr=`uname`
if [[ "$unamestr" == 'Linux' ]]; then
    eval "`dircolors -b`"
    alias ls='ls --color=auto --hide="*.pyc" --hide="__pycache__"'
    alias open='gnome-open'
fi

# basic commands
alias grep='grep --color=auto'
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

# new commands
alias quickweb='python -m SimpleHTTPServer'
alias rmpyc='find -name "*.pyc" -delete'
alias rmpycache='find -name "__pycache__" -delete'
alias mkvirtualenv='mkvirtualenv -p `which python3`'
alias mkvenv2='mkvirtualenv -p `which python2`'

# short names
alias py='ipython`python -c "import sys; print(\"3\" if sys.version_info[0] == 3 else \"\")"` --no-banner --no-confirm-exit -i'

# command replacements
alias tree='tree -A -I "*.pyc|*~"'
alias tmux='tmux -2'

# git stuff
alias g='git'
alias gc='git commit'
alias gp='git pull'
alias gs='git status'
alias gy='git pull && git push'

# s3cmd aliases
alias s3personal='s3cmd -c ~/.s3cmd/personal'
