[user]
    email = james.p.turk@gmail.com
    name = James Turk
[github]
    user = jamesturk
[core]
    excludesfile = ~/.gitignore
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[push]
    default = tracking
[alias]
    co = checkout
    graph = log --oneline --decorate --graph --branches
    wdiff = diff --word-diff
    switch = !legit switch \"$@\"
    branches = !legit branches
    sprout = !legit sprout \"$@\"
    unpublish = !legit unpublish \"$@\"
    harvest = !legit harvest \"$@\"
    sync = !legit sync \"$@\"
    publish = !legit publish \"$@\"
    graft = !legit graft \"$@\"
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pr = "!f() { git fetch origin refs/pull/$1/head:pr/$1; git checkout pr/$1; git merge master; }; f"
    cleanup = "!f() { git branch -D `git branch | grep pr`; }; f"
    good = "!f() { x=$(git rev-parse --abbrev-ref HEAD); git checkout master; git merge $x; }; f"
