[james]
aws_access_key_id = {{ (index (index (onepassword "oalp44zrpbbz3mmuewzhy6smr4").details.sections 0).fields 0).v }}
aws_secret_access_key = {{ (index (index (onepassword "oalp44zrpbbz3mmuewzhy6smr4").details.sections 0).fields 1).v }}

[openstates]
aws_access_key_id = {{ (index (index (onepassword "633n5kphgjemrdvyhlmvqvzsgq").details.sections 0).fields 0).v }}
aws_secret_access_key = {{ (index (index (onepassword "633n5kphgjemrdvyhlmvqvzsgq").details.sections 0).fields 1).v }}
