c.NotebookApp.certfile = '/home/jupyter/jcert.pem'
c.NotebookApp.keyfile = '/home/jupyter/jkey.key'
c.NotebookApp.ip = '*'
c.NotebookApp.notebook_dir = '/home/jupyter/notebooks'
c.NotebookApp.open_browser = False
c.NotebookApp.password = '{{jupyter_hash}}'
c.NotebookApp.port = {{jupyter_port}}
