dotfiles/config/.mono
dotfiles/config/Autodesk
dotfiles/config/configstore
dotfiles/config/gh
dotfiles/config/hub
dotfiles/config/iterm2
dotfiles/config/nvim/.netrwhist
dotfiles/config/nvim/plugged
dotfiles/config/pgcli
dotfiles/config/wireshark
dotfiles/config/gcloud
dotfiles/config/SmartSetMaster (Mac)
dotfiles/vim/.netrwhist
