[font]
size = 13
normal = { family = "UbuntuSansMono Nerd Font", style = "Regular" }


[window]
#opacity = 0.9
decorations = "buttonless"
startup_mode = "Maximized"
option_as_alt = "OnlyLeft"

[shell]
{{ if eq .chezmoi.os "darwin" }}
program = "/opt/homebrew/bin/tmux"
{{ else }}
program = "/usr/bin/tmux"
{{ end }}
args = ["new-session", "-A", "-s", "main"]
